*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: sans-serif;
  height: 100vh;
  line-height: 1.7;
  overflow-x: hidden;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

.btn.btn-secondary{
  background-color:#3e3e4f ;
  margin-bottom: 1rem;
  display: inline-block;

}

.text-area{
  color:#e6b959 ;
}

.btn-link{
  height: 50px;
  width: 50px;
  background-color: transparent;
  color: #ffffff;
  position: fixed;
  bottom: 20px;
  right: 30px;
  font-size: 22px;
  text-align: center;
  line-height: 2.2;  
  border-radius: 50%;
  transition: all 0.5s ease;
  border: 2px solid #e6b959;
  color: #e6b959;
}


.btn-link:hover{
  background-color: #3e3e4f;
  color: #ffffff;
  border: none;
  line-height: 2.3;
}

/* Header */
#header {
  height: 100vh;
  background: url('./img/book2.jpeg') center center/cover no-repeat;
  position: relative;
}

#header .logo {
  position: absolute;
  top: 25px;
  left:40px;
}

.logo a {
  display: flex;
  align-items: center;
  color: #ffffff;
  height: 100%;
}

#header .logo h1{
  font-size: 40px;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height:17vh;
  position: relative;
}

.nav-links{
  display: flex;
  justify-content: center;
  width: 30%;
  position: absolute;
  top: 50px;
  right: 6rem;
}

.nav-links li a{
  color: #ffffff;
  padding: 15px 20px;
  font-weight: 600;
  font-size: 18px;
}
.nav-links li a:hover{
  border-bottom: 2px solid #e6b959;
}

.burger{
  display: none;
  cursor: pointer;
  background-color:#3e3e4f ;
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.burger:hover{
  background-color: #e6b959;
}

.burger div{
  height: 3px;
  width: 25px;
  background-color: #ffffff;
  margin: 5px 0;
}

#header .showcase {
  position: relative;
  height: 65%;
  z-index: 1;
}
#header .showcase .showcase-content{
  display: flex;
  flex-direction: column;
  height: 120%;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

#header .showcase .showcase-content h1{
  font-size: 50px;
  font-weight: 400;
}

#header .showcase .showcase-content p{
  font-size: 20px;
  margin: 30px 0;
}


#header::before{
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0, 0.65);
}

#header *{
  z-index:1;
}

.btn{
  padding: 12px 30px;
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  border-radius: 15px;
  transition: all 0.5s ease;
}

.btn:hover{
  background-color: #e6b959;
  border-color: #e6b959;
}

.model-bg{
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

.bg-active{
  visibility: visible;
  opacity: 1;
}

.model{
  border-radius: 20px;
  background-color: #ffffff;
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
  position: relative;
}

.model h2{
  font-size: 40px;
  text-align: center;
  padding: 20px 0px 0px 0px;
  color: #3e3e4f;
}

.model p{
  text-align: center;
  margin-bottom: 2rem;
  color: #9a9a9a;
  font-weight: 500;
}

.model input{
  height: 20%;
  padding: 0 15px;
  border-radius: 80px;
  border: 1px solid #e5e5ee;
  outline: none;
  margin: 0 10px 20px 0;
  width: 100%;
}

.model input:focus{
  border-color: #e6b959;
}

.btn-model{
  display:inline-block;
  margin-top: 20px;
  width: 100%;
  padding: 15px;
  background-color: #e6b959;
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.btn-model:hover{
  opacity: 0.8;
}

.close{
  position: absolute;
  top: -15px;
  right: -20px;
  border-radius: 50%;
  background-color: #efd49a;
  font-size: 30px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 1.7;
  cursor: pointer;
  color: #ffffff;
  font-weight: 600;
  transition: all 0.5s ease;
}

/* ABOUT*/
#about {
  position: relative;
  padding: 5rem 0px 7rem;
}

#about h1
{
  text-align: center;
  font-size: 40px;
  margin-bottom: 10px;
  color: #3e3e4f;
}

#about .about-content p{
  font-size: 15px;
}

#about .about-content{
  padding-left: 6rem;
  padding-right: 3rem;
  color: #9a9a9a;
  font-weight: 600;
}

/* BOOK */
#book {
  position: relative;
  padding: 5rem 0px 1rem;
}
#book h1,
 .menu-heading h1
{
  text-align: center;
  font-size: 40px;
  margin-bottom: 10px;
  color: #3e3e4f;
}

h4{
  text-align: center;
  color: #9a9a9a;
  font-size: 16px;
  margin-bottom: 4rem;
}

#book .about-content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
}
#book .about-content p{
  font-size: 15px;
}
#book .about-content {
  padding-left: 6rem;
  padding-right: 3rem;
  color: #9a9a9a;
  font-weight: 600;
  
}

@keyframes showItem{
  0% {
    transform: scale(0.8);
    opacity: 0;
  }

  100%{
    transform: scale(1);
    opacity: 1;
  }
}

/* Contact */
#contact{
  padding: 5rem 7rem;
  background: #2a2a3a;
  color: #f7f3e9;
  position: relative;
  top: 200px;
}

#contact .footer{
  display: grid;
  text-align: center;
}

#contact .footer .social a{
  margin: 0;
  color: #5c5c6e;
  font-size: 20px;
  display: inline-block;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 38px;
  border: 2px solid #5c5c6e;
  border-radius: 50%;
  transition: all 0.3s ease;
}

#contact .footer .social a:hover{
  color: #f7f3e9;
  border-color: #f7f3e9;
}

#contact .footer p,
#contact .footer p a
{
  color: #5a5a6f;
}



@media (max-width:1030px){
  .nav-links{
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #3e3e4f;
    width: 60%;
    z-index:20;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    margin-bottom: 3.5rem ;
  }
  #header *{
    z-index: 3;
  }
  .burger{
    display: block;
    position: fixed;
    right: 40px;
  }
  #about .about-content{
  grid-template-columns: 2fr 1fr;
  grid-gap: 3rem;
  }
  #about .about-content img{
    width: 400px;
  }
  
  #contact .footer{
    display: grid;
    grid-template-columns: 2fr 1.5fr;
  }
  
}

.nav-links.active{
  transform: translate(0%);
}

@media (max-width:768px){
  #header .logo {
    position: absolute;
    top: 25px;
    left:25px;
  }

  #header .logo h1{
    font-size: 30px;
  }
  
#header .showcase .showcase-content h1{
  font-size: 40px;
  font-weight: 400;
}
#header .showcase .showcase-content p{
  font-size: 18px;
  margin: 30px 0;
}
.btn{
  padding: 10px 26px;
  font-size: 16px;
}
.model{
  width: 70%;
  height: 80%;
}
#about .about-content{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 3rem;
  padding-left: 2rem;
  padding-right: 1rem;
  grid-gap: 2rem;
}

#contact{
  padding: 3rem 2rem;

}
#contact .footer{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 3rem;
}
#contact .footer .social a{
  margin: 0 5px;
  color: #5c5c6e;
  font-size: 15px;
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 27px;
  border: 2px solid #5c5c6e;
  border-radius: 50%;
  transition: all 0.3s ease;
}
}

@media (max-width: 500px){
  #header .showcase .showcase-content{
    padding:  0 1rem;
    text-align: center;
  }
  #header .showcase .showcase-content h1{
    font-size: 32px;
    font-weight: 400;
  }
.model{
  width: 90%;
  height: 80%;
}
 #header .logo {
  position: absolute;
  top: 45px;
  left:20px;
  }
   .burger{
     right: 20px;
  }
  #about .about-content{
display: block;
}
  #about .about-content img{
  width: 280px;
  margin-left: 2rem;
  margin-top: 40px;
}
#about .about-content{
  padding-left: 1rem;
  padding-right: 1rem;
}
#about .about-content{
  grid-template-columns: 1fr;
}
#about .about-content img{
#about .about-content img{
  width: 290px;
  display: block;
  margin: 40px auto 0 auto;
}
}
#about{
  padding-bottom: 5rem;
} 

#about h1, .menu-heading h1{
  text-align: center;
  font-size: 38px;
}

#contact .footer{
  display:block;
  text-align: center;
 
}
#contact .footer-info p{
  font-size: 14px;

}
#contact .footer .social{
  margin-top: 25px;
}
#contact .footer .social a{
  margin: 0 10px;
  color: #5b5b70;
  font-size: 20px;
  display: inline-block;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 38px;
}
body{
  overflow-x: hidden;
}
}
